.app__root {
  text-align: center;
  color: dimgray;
  font-family: serif;
}
.app__icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 30px;
  color: dimgray;
}
.app__logout {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  color: dimgray;
}
button:disabled {
  color: #ccc;
  cursor: none;
}
h1 {
  display: inline-block;
}
